<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign in</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
    <script src="assets/vendor/jquery/jquery.min.js"></script>
</head>
<body style="background-color: #06F874;">
<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/home">Flash Sport</a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link" href="/admin">Administrator</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/products">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/statistics">Statistics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user-profile">User Profile</a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="/logout">Log Out</a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" href="/logUp">Log Up</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" sec:authentication="name"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-9" style="height: 450px">
            <form method="post" action="/login">
                <div class="card" style="width: 1150px;margin-top: 120px">
                    <div class="card-header">
                        <h2>Sign in</h2>
                    </div>
                    <div class="card-body">
                        <h4 class="text-danger" th:if="${param.error}" th:text="${param.error}"></h4>
                        <h4 class="text-info" th:if="${info}" th:text="${info}"></h4>
                        <div class="form-group">
                            <label for="username" class="sr-only">Username</label>
                            <input type="text" id="username" name="username"
                                   class="form-control" placeholder="Username" required autofocus>
                        </div>
                        <div class="form-group">
                            <label for="password" class="sr-only">Password</label>
                            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Footer -->
<footer class="py-5 bg-primary" style="position: fixed;left: 0;bottom: 0; width: 100%;">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Flash Sport</p>
    </div>
</footer>
</body>
</html>