<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Log Up</title>
<    <link rel="stylesheet"
           href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
           integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
           crossorigin="anonymous">
    <script src="assets/vendor/jquery/jquery.min.js"></script>
</head>
<body style="background-color: #06F874;">
<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/home">Flash Sport</a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link" href="/admin">Administrator</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/products">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/statistics">Statistics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user-profile">User Profile</a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="/logout">Log Out</a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" href="/logUp">Log Up</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" sec:authentication="name"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <form method="post" action="/logUp">
        <div class="card" style="margin-top: 40px">
            <div class="card-header">
                <h2>Sign Up</h2>
            </div>
            <div class="card-body">
                <h4 th:if="${param.error}" th:text="${param.error}" class="text-danger"></h4>
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" name="username" id="username" class="form-control"
                    placeholder="Username" required autofocus>
                </div>
                <div class="form-group">
                    <label>First Name</label>
                    <input type="text" name="first_name" id="first_name" class="form-control"
                           placeholder="First Name" required autofocus>
                    <small class="text-secondary">[Example: Filip]</small>
                </div>
                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" name="last_name" id="last_name" class="form-control"
                           placeholder="Last Name" required autofocus>
                    <small class="text-secondary">[Example: Petrov]</small>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" name="email" id="email" class="form-control"
                           placeholder="Email" required autofocus>
                    <small class="text-secondary">[Example: petrov@gmail.com]</small>
                </div>
                <div class="form-group">
                    <label>Embg</label>
                    <input type="text" name="embg" id="embg" class="form-control"
                           placeholder="Embg" required autofocus>
                    <small class="text-secondary">[Example: 0508996440010]</small>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" name="password" id="password" class="form-control"
                           placeholder="Password" required autofocus>
                </div>
                <div class="form-group">
                    <label>Repeated Password</label>
                    <input type="password" name="repeatedPassword" id="repeatedPassword"
                           class="form-control" placeholder="Password" required autofocus>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-block">Log Up</button>
            </div>
        </div>
    </form>
</div>
<!-- Footer -->
<footer class="py-5 bg-primary" style="position:absolute;bottom:-80%;width:100%;">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Flash Sport</p>
    </div>
</footer>
</body>
</html>